*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.book {
  position: relative;
  width: 383px;
  height: 567px;
  -webkit-box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.book:hover {
  -webkit-transform: rotateY(35deg);
  transform: rotateY(35deg);
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

.book:active {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.book::before,
.book::after {
  content: "";
  position: absolute;
  height: 100%;
}

.book::before {
  width: 60px;
  -webkit-transform-origin: left;
  transform-origin: left;
  background: url(../img/side.jpg);
  background-position: center;
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
}

.book::after {
  width: 100%;
  -webkit-transform-origin: center;
  transform-origin: center;
  background: url(../img/back.jpg);
  background-position: center;
  -webkit-transform: rotateY(180deg) translateZ(60px);
  transform: rotateY(180deg) translateZ(60px);
}

.book img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
